body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

    }
    hr
      {
      border-style: none;
      border-top-style:dotted;
      border-color: #EAF6F6;
      border-width: 10px;
      width: 5%;
      margin-top: 70px;
      }

h1{
  font-size: 5.625rem;
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  }
  h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    color:  #66BFBF;
  }
  h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
  }
  .montaña{
    margin-bottom:2rem;
  }

  .Foto-perfil{
    height: 300px;
    margin-top: 2rem;
  }
  .Habilidad{
    width: 25%;
    float: left;
    margin-right: 30px;

  }
  .Coffe{
    height: 100px;
    margin-top: 50px;

  }
  .beer{width: 25%;
    float: right;
    margin-left: 30px;
  }

.top-clound{
  position: absolute;
  right:300px;
  top: 50px;

  }
.bottom-clound{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.footer-link{
  color: #11999E;
  margin-left: 30px;
}


.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}




.top-container{
  background-color: #F6DDCC;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  background-color: #F6DDCC;

}
.bottom-container{
  background-color: #F0B27A ;
padding: 50px 25px 50px 25px;
}
.contact-me{
  margin-top: 70px;
}
.Copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.btn {
	-moz-box-shadow:inset 0px 0px 0px -24px #F0B27A;
	-webkit-box-shadow:inset 0px 0px 0px -24px #F0B27A;
	box-shadow:inset 0px 0px 0px -24px #F0B27A;
	background-color:#F0B27A;
	-webkit-border-radius:16px;
	-moz-border-radius:16px;
	border-radius:16px;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:28px;
	padding:12px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
 &:active {
	position:relative;
	top:1px;
}
 }
 .btn:hover {
 background-color:#2ecc70;
 }
a{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}
a:hover{
  color:#ffffff;
}
